.main {
  margin-bottom: 5rem;
  position: relative;
  top: 2rem;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.main:hover {
  opacity: 1;
}

.main:before, .main:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.main:before {
  transform: rotate(45deg);
}

.main:after {
  transform: rotate(-45deg);
}


/* Light mode */
@media (prefers-color-scheme: light) {
  .main:before, .main:after {
      background-color: #000;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .main:before, .main:after {
      background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .main{
    left: 2rem;
  }
}