@media (prefers-color-scheme: light) {
    .button{
        border:2px solid #000000;
        color:#000000;
    }

    .button:hover{
        color:#FFFFFF;
        background-color:#000000;
    }

    .contact-icon{
        filter: invert(0%);
        -webkit-filter: invert(0%);
    }

    .button:hover .contact-icon{
        filter: invert(0%);
        -webkit-filter: invert(0%);
        transition: ease 0.2s;
    }

    .button:hover .contact-icon{
        transition: ease-in-out 0.2s;
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
}
  
@media (prefers-color-scheme: dark) {
    .button{
        border:2px solid #FFFFFF;
        color:#FFFFFF;
    }
    
    .button:hover{
        color:#000000;
        background-color:#FFFFFF;

    }

    .contact-icon{
        filter:  invert(100%);
        -webkit-filter: invert(100%);
    }

    .button:hover .contact-icon{
        filter: invert(0%);
        -webkit-filter: invert(0%);
        transition: ease 0.2s;
    }
}

.button{
    text-decoration: none;
    display:inline-block;
    padding: 0.35em 1.2em;
    margin: .25em 1em;
    border-radius:2em;
    font-weight: normal;
    text-align:center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.modal{
    z-index: 1;
}

.contact{
    margin-left: auto;
    width: 7rem;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
}

.contact-icon{
    grid-column: 1;
}

.contact-text{
    grid-column: 2;
    margin: auto;
    width: 50%;
    text-align: center;
}


@media screen and (max-width: 768px){
    .contact-icon{
        padding-top: 0.15rem;
    }

    .contact-text{
        font-size: 1rem;
    }

}