.arrow{
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(135deg);
  opacity: 0.5;
  width: 24px;
  height: 24px;
  transition: opacity 0.2s ease-in-out;
}

.arrow:hover{
  opacity: 1;
}
  
@media (prefers-color-scheme: dark) {
  .arrow{
    border: solid white;
    border-width: 0 2px 2px 0;
  }
}

@media (prefers-color-scheme: light) {
  .arrow{
    border: solid black;
    border-width: 0 2px 2px 0;
  }
}

@media screen and (max-width: 768px) {
  .goback-container{
    padding: 1rem 0 0 1rem;
  }
}