.contact-container {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
  
.contact-header-text{
    font-size: 1.5rem;
    font-weight: bold;
    float: left;
}

.current-status{
    padding-top: 2.5rem;
    font-size: 1.25rem;
    font-weight: medium;
}

.contact-links{
    padding: 1rem 0 1rem 0;
    width: 100%;
    float: left;

    ul{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}





.contact-button{
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-color: #fff;
    border-radius: 50%;
}

.contact-footer{
    padding-top: 1rem;

    .url {
      text-decoration-line: none;
      color: rgb(60, 101, 136);
    }
}

@media screen and (max-width: 768px) {
    .contact-links{
        grid-template-columns: 11rem;
    }
}

@media screen and (max-width: 768px) {
    .contact-header-text {
        font-size: 1.5rem;
    }

    .current-status {
        font-size: 1rem;
    }

    .contact-links ul {
        padding-right: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}
