.modal-content{
    background-color: #000000;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;

    h1{
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .text {
        color: black;
        background-color: inherit;
    }
}

.modal-thumbnail{
    width: 100%;
    height: auto;
    align-items: center;

    img{
        width: 100%;
    }
}

.modal-status{
    font-size: 1.25rem;
    line-height: 1.5;
}

.modal-text {
    padding-top: 1.2rem;
    line-height: 1.3;
    font-size: 1.3rem;
}

.modal-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    .modal-container {
        color: #000000;
        background-color: #ffffff;
    }

    .modal-content {
        color: #000000;
        background-color: #ffffff;
    }
  }
  
/* Dark mode */
@media (prefers-color-scheme: dark) {
    .modal-container {
        color: #ffffff;
        background-color: #000000;
    }

    .modal-content .text {
        color: white;
        background-color: inherit;
    }
}

@media screen and (max-width: 768px) {
    .modal-container {
        padding-left: 5%;
        padding-right: 5%;
        width: inherit;
    }
}

@media screen and (min-width: 1200px) {
    .modal-thumbnail img{
        width: 50%;
    }
}