.contact-container {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
  
.contact-header-text{
    font-size: 1.5rem;
    font-weight: bold;
    float: left;
}

.contact-links{
  padding: 0;
  margin-top: 3.5rem;
}

.contact-links ul {
    display: inline-block;
    padding: 0;
}
  
.contact-links ul li {
    padding: 0.25rem;
    list-style: none;
    float: left;
}

.contact-button{
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-color: #fff;
    border-radius: 50%;
}

/* Light mode */
@media (prefers-color-scheme: light) {
}

/* Darl mode */
@media (prefers-color-scheme: dark) {
}