.project-header{
    text-align: left;
}

.project-header h1{
    font-size: 4rem;
}

.project-header h2{
    font-size: 2rem;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.project {
    display: flex;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 15px;
    padding: 1.25rem;
}

.thumbnail{
    text-align: center;
}

.project-content {
    font-size: 1rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.project h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}


.project footer {
    min-height: 30px;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}

.mitchlui-dev {
    background: #000000;
}

.greenmap {
    background: #000000;
}

.ai-workflow{
    background: #000000;
}

.gol {
    background: #000000;
}

.mask-detector {
    background: #000000;
}

.marine-vessel-tracker{
    background: #000000;
}

.scotland-yard{
    background: #000000;
}

@media screen and (max-width: 768px) {
    .project-header h1{
        font-size: 2.5rem;
    }

    .project-header h2{
        font-size: 1.5rem;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    .project {
        color: #131313;
        background-color: #ffffff;
        box-shadow: 0 0 50px #ccc;
    }
  }
  
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    .project {
        color: #ffffff;
        background-color: #000000;
    }
  }