.modal-container{
    position:fixed;
    background-color: #000000;
    z-index: 1;
    top:0;
    bottom: 0;
    min-height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-content{
    background-color: #000000;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2.5%;
}

.modal-content h1{
    font-size: 3rem;
}

.modal-headline h2 {
    font-size: 2rem;
}

.modal-thumbnail{
    width: 100%;
    height: auto;
    align-items: center;
}

.modal-status{
    font-size: 1.25rem;
    line-height: 1.5;
}

.modal-thumbnail img{
    width: 100%;
}


.modal-content .mitchlui-dev {
    background: -webkit-linear-gradient(rgb(88, 186, 3), rgb(29, 75, 13));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-content .greenmap {
    background: -webkit-linear-gradient(rgb(88, 186, 3), rgb(73, 186, 35));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-content .ai-workflow {
    background: -webkit-linear-gradient(rgb(12, 90, 223), rgb(7, 48, 152));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-content .gol {
    background: -webkit-linear-gradient(rgb(235, 235, 235), rgb(69, 69, 69));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-content .mask-detector {
    background: -webkit-linear-gradient(rgb(235, 235, 235), rgb(69, 69, 69));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-content .marine-vessel-tracker {
    background: -webkit-linear-gradient(rgb(211, 211, 211), rgb(23, 143, 135));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-content .scotland-yard {
    background: -webkit-linear-gradient(rgb(245, 113, 113), rgb(109, 42, 42));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-text {
    padding-top: 1.2rem;
    line-height: 1.3;
    font-size: 1.3rem;
}

.modal-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    .modal-container {
        color: #000000;
        background-color: #ffffff;
    }

    .modal-content {
        color: #000000;
        background-color: #ffffff;
    }
  }
  
/* Dark mode */
@media (prefers-color-scheme: dark) {
    .modal-container {
        color: #ffffff;
        background-color: #000000;
    }
}

@media screen and (max-width: 768px) {
    .modal-container {
        padding-left: 5%;
        padding-right: 5%;
        width: inherit;
    }
}

@media screen and (min-width: 1250px) {
    .modal-thumbnail img{
        width: 50%;
    }
}