.fade-in-section {
    display: flex;
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    transition: opacity 0.4s ease-out, transform 0.8s ease-out;
    will-change: opacity, visibility;
  }

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}