.navbar {
    display: flex;
    top: 0;
}

 .desktop{
    padding: 1.1rem 5%;
    justify-content: space-between;
}

.mobile {
    padding: 0.1rem 5%;
}

/* logo desktop */
.logo-container{
    float: left;
}
.logo {
    display: flex;                                          
    font-weight: normal;
    float: left;
    font-size: 1.85rem;
}
.logo-link {
    color: inherit;
    text-decoration: none;
}
.logo .bold {
    font-weight: bold;
}
.logo-graphic{
    margin: auto;
    padding-right: 0.5rem;
}

.mobile .logo-container{
    float: left;
}

/* navbar */
nav a {
    color: inherit;
    text-decoration: none;
    opacity: 70%;
    transition: all 0.2s ease-out;
}
nav a:hover {
    opacity: 100%;
    transition: all 0.2s ease;
}


/* desktop navbar */
.desktop nav ul {
    padding: 0;
    list-style: none;
}
.desktop nav ul li {
    display: inline-block;
    margin: 1.1rem 1rem;
}

/* mobile navbar */
.mobile nav {
    padding: 0;
    z-index: 1;
}
.mobile nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile nav ul li {
    display: flex;
    padding: 0.75rem;
    border-bottom: 0.1rem solid #777777;
    opacity: 0;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
    animation-fill-mode: forwards;
}

.mobile nav ul li:nth-child(1) {
    animation-delay: 0s;
}

.mobile nav ul li:nth-child(2) {
    animation-delay: 0.25s;
}

.mobile nav ul li:nth-child(3) {
    animation-delay: 0.5s;
}

.mainnav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* hamburger menu */
.hamburger-menu-container{
    margin: auto;
    width: 100%;
    float: right;
    text-align: right;
}

.mobile-nav-close{
    display: none;
}

@media (prefers-color-scheme: dark){
    .vote-text {
        background-color: black;
    }


}

@media (prefers-color-scheme: light){
    .vote-text {
        background-color: white;
    }
}


@media screen and (max-width: 768px) {
    .navbar {
        padding: 1.1rem 5% 0 5%;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }

    .logo-container{
        text-align: center;
    }

    nav ul {
        text-align: center;
    }
}

