.navbar {
    display: flex;
    top: 0;
}

 .desktop{
    padding: 1.1rem 5%;
    justify-content: space-between;
}

.mobile {
    padding: 0.1rem 5%;
}

/* logo desktop */
.logo-container{
    float: left;
}
.logo {
    display: flex;                                          
    font-weight: normal;
    float: left;
    font-size: 1.85rem;
}
.logo-link {
    color: inherit;
    text-decoration: none;
}
.logo .bold {
    font-weight: bold;
}
.logo-graphic{
    margin: auto;
    padding-right: 0.5rem;
}

.mobile .logo-container{
    float: left;
}

/* navbar */
nav a {
    color: inherit;
    text-decoration: none;
    opacity: 70%;
    transition: all 0.2s ease-out;
}
nav a:hover {
    opacity: 100%;
    transition: all 0.2s ease;
}


/* desktop navbar */
.desktop nav ul {
    padding: 0;
    list-style: none;
}
.desktop nav ul li {
    display: inline-block;
    margin: 1.1rem 1rem;
}

/* mobile navbar */
.mobile nav {
    padding: 0;
    z-index: 1;
}
.mobile nav ul {
    padding: 0;
    list-style: none;
}
.mobile nav ul li {
    display: inline-block;
    padding: 0.75rem 1rem;
}

.mainnav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* hamburger menu */
.hamburger-menu-container{
    margin: auto;
    width: 100%;
    float: right;
    text-align: right;
}

.close{
    display: none;
}

.vote-me-nav {
    background: linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    font-weight: bold;
}

@media (prefers-color-scheme: dark){
    .vote-text {
        background-color: black;
    }
}

@media (prefers-color-scheme: light){
    .vote-text {
        background-color: white;
    }

    .vote-text:hover {
        background: linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    }
}


@media screen and (max-width: 768px) {
    .navbar {
        padding: 1.1rem 5% 0 5%;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }

    .logo-container{
        text-align: center;
    }

    nav ul {
        text-align: center;
    }
}

