.navbar {
    display: flex;
    top: 0;
}

 .desktop{
    padding: 1.1rem 5%;
    justify-content: space-between;
}

.mobile {
    padding: 0.1rem 5%;
}

/* logo desktop */
.logo-text {     
    float: left;                                         
    font-weight: normal;
}
.logo-link {
    color: inherit;
    text-decoration: none;
}
.logo-text .bold {
    font-weight: bold;
}
.logo-graphic{
    margin: 24px 0;
    padding-right: 1rem;
    width: 15%;
    float: left;
}

.mobile .logo-container{
    float: left;
}

/* navbar */
nav a {
    color: inherit;
    text-decoration: none;
    opacity: 70%;
    transition: all 0.2s ease-out;
}
nav a:hover {
    opacity: 100%;
    transition: all 0.2s ease;
}


/* desktop navbar */
.desktop nav ul {
    padding: 0;
    list-style: none;
}
.desktop nav ul li {
    display: inline-block;
    margin: 1.1rem 1rem;
}

/* mobile navbar */
.mobile nav {
    padding: 0;
    z-index: 1;
}
.mobile nav ul {
    padding: 0;
    list-style: none;
}
.mobile nav ul li {
    display: inline-block;
    padding: 0.75rem 1rem;
}

.mainnav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* hamburger menu */
.hamburger-menu-container{
    margin: auto;
    width: 100%;
    float: right;
    text-align: right;
}

.close{
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1.1rem 5% 0 5%;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
    }

    .logo-container{
        text-align: center;
    }

    nav ul {
        text-align: center;
    }
}

